@page "/Login"
@using ChatApp.Models
@model User
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="./css/Login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class=" row container d-flex justify-content-center align-items-center vh-100">

        <div class="col-md-6 offset-3 bg-light border rounded">
            <p>
                <h4 class="text-center">Đăng nhập</h4>
            </p>
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            <form method="post" asp-controller="User" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="email" class="control-label" for="exampleInputEmail1">Địa chỉ email</label>
                    <input asp-for="email" class="form-control" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email" required>
                    <span asp-validation-for="email" class="text-danger"></span>
                    @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label" for="exampleInputPassword1">Mật khẩu</label>
                    <input asp-for="password" class="form-control" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập mật khẩu" required>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                @*                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>*@
                <p class="text-right">Bạn chưa có tài khoản? <a href="/sign-up">Đăng ký</a></p>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" tabindex="0">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        window.onload = function () {
            document.getElementById('exampleInputEmail1').focus();
        };

        document.addEventListener('keydown', function (event) {
            var activeElement = document.activeElement;
            var formElements = Array.from(document.getElementsByTagName('input')).concat(Array.from(document.getElementsByTagName('button')));
            var nextIndex = formElements.indexOf(activeElement) + 1;
            if (event.key === 'Enter') {
                if (activeElement.type !== 'submit') {
                    if (nextIndex < formElements.length) {
                        formElements[nextIndex].focus();
                        event.preventDefault();
                    }
                } else {
                    activeElement.click();
                }
            }
        });
        $(document).ready(function () {
            $('input, button').keydown(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    var index = $('input, button').index(this) + 1;
                    $('input, button').eq(index).focus();
                }
            });
        });
    </script>
</body>
