body {
    font-size: 16px;
    font-family: ''
}

header {
    padding-bottom: 4rem;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.nav-link {
    color: #336699 !important;
}

.nav-link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn {
   color: white !important;
   font-size: 12px !important;
}

.rounded-circle{
    width: 40px;

}

.btn-search-friend {
    color: #336699 !important;
}
.btn-search-friend:hover{
    color: #fff !important;
    background-color: #336699 !important;
}

#searchDropdown {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px; /* Adjust as needed */
    overflow-y: auto;
}

.image-frame-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 2px;
}