.btn {
    color: white !important;
    font-size: 12px !important;
}

.cardContainer {
    display: flex;
    margin: 10px 50px;
    border: 2px solid #D9D9D9;
    max-width: 700px;
    min-width: 700px;
    border-radius: 10px
}

.cardContainer a{
    color: black;
}